venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/

.git/
.github/

.env

data/database/*.db
data/processed/*.csv
data/processed/*.xlsx

models/artifacts/*.pkl
models/artifacts/*.json
models/artifacts/comparison_table.csv
models/artifacts/figures/*.png

.DS_Store
Thumbs.db